# .github/settings.yml needs to be protected, regardless of the organization
# the repo ends up in, so individuals are added along with groups.
#/.github/settings.yml @brave/it-support-team @diracdeltas
