name: Update lists

on:
  schedule:
  - cron: '15,45 * * * *' # Run every hour at 15 and 45 minutes past the hour
  workflow_dispatch:

jobs:
  update-lists:
    runs-on: ubuntu-latest
    permissions:
        contents: write

    steps:
    - uses: actions/checkout@93cb6efe18208431cddfb8368fd83d5badbf9bfd # v5.0.1
      with:
        fetch-depth: 1
    - name: Set up Python 3.
      uses: actions/setup-python@83679a892e2d95755f2dac6acb0bfd1e9ac5d548 # v6.1.0
      with:
        python-version: 3.13

    - name: Install uv
      uses: astral-sh/setup-uv@61cb8a9741eeb8a550a1b8544337180c0fc8476b # v7.2.0

    - run: uv sync --frozen
    - name: Generate list files
      env:
        SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
      run: |
        mkdir newlists
        uv run python update-lists.py --output-dir newlists
    - name: Commit files
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"
        git remote set-branches origin lists
        git fetch --depth 1 origin lists
        git switch lists
        cp -rf newlists/* lists/ && rm -rf newlists
        git add lists
        git commit -m "Automatically updated lists: $(date)" -a || true
    - name: Push changes
      run: |
        git remote add github "https://$GITHUB_ACTOR:$GITHUB_TOKEN@github.com/$GITHUB_REPOSITORY.git"
        git push -u github lists
