name: Update lists

on:
  schedule:
  - cron: '15,45 * * * *' # Run every hour at 15 and 45 minutes past the hour
  workflow_dispatch:

jobs:
  update-lists:
    runs-on: ubuntu-latest
    permissions:
        contents: write

    steps:
    - uses: actions/checkout@08c6903cd8c0fde910a37f88322edcfb5dd907a8 # v5.0.0
      with:
        fetch-depth: 1
    - name: Set up Python 3.
      uses: actions/setup-python@a26af69be951a213d495a4c3e4e4022e16d87065 # v5.6.0
      with:
        python-version: 3.13
        cache: 'pip' # caching pip dependencies

    - run: pip install -r requirements.txt
    - name: Generate list files
      env:
        SENTRY_DSN: ${{ secrets.SENTRY_DSN }}
      run: |
        mkdir newlists
        python3 update-lists.py --output-dir newlists
    - name: Commit files
      run: |
        git config user.name "github-actions[bot]"
        git config user.email "github-actions[bot]@users.noreply.github.com"
        
        if git ls-remote --heads origin lists | grep -q lists; then
          echo "Lists branch exists, switching to it"
          git remote set-branches origin lists
          git fetch --depth 1 origin lists
          git switch lists
        else
          echo "Lists branch doesn't exist, creating it"
          git checkout --orphan lists
          git rm -rf . || true
          mkdir -p lists
        fi
        
        cp -rf newlists/* lists/ && rm -rf newlists
        git add lists
        git commit -m "Automatically updated lists: $(date)" -a || true
    - name: Push changes
      run: |
        git remote add github "https://$GITHUB_ACTOR:$GITHUB_TOKEN@github.com/$GITHUB_REPOSITORY.git"
        git push -u github lists
